.mask {
  width: 100vw;
  min-height: 100vh;
  background-color: hsla(0, 0%, 0%, 0.9);
  mask: radial-gradient(
    circle at var(--mouse-x) var(--mouse-y),
    transparent 40px,
    black 150px
  );
  -webkit-mask: radial-gradient(
    circle at var(--mouse-x) var(--mouse-y),
    transparent 40px,
    black 150px
  );
  padding: 40px;
}

@media only screen and (max-width: 600px) {
  .mask {
    padding: 20px;
  }
}
